<!DOCTYPE html>
<header>
    <title>Test Page</title>
    <link rel="stylesheet" href="style.css">
</header>

<body>
    <button name="button">Takeoff</button>
    <br></br>
    <button name="button">Land</button>
    <br></br>
    <button name="forward-btn">Forward</button>
    <input type="number" min="1" max="100" name="forward-value"></input>

    <br></br>
    <button name="backward-btn">Backward</button>
    <input type="number" min="1" max="100" name="backward-value"></input>

    <br></br>
    <button name="left-btn">Left</button>
    <input type="number" min="1" max="100" name="left-value"></input>

    <br></br>
    <button name="right-btn">Right</button>
    <input type="number" min="1" max="100" name="right-value"></input>
</body>